<section class="bg-title">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mb-8 lg:mb-16">
            <img class="mx-auto max-w-full" src="assets/craftnectar_logo.png" />
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Vibrant Economy</h3>
                <p class="text-gray-500 dark:text-gray-400">Featuring both normal and a premium currency, as well as
                    1,000's of unique items to come across or smelt...let's just say the Auction house will be
                    a bustling place!
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Custom Everything</h3>
                <p class="text-gray-500 dark:text-gray-400">We offer users custom GUI in nearly every aspect the server
                    has to offer! Powered by Hyronic studios survival setup and then customized from there - we're sure
                    you'll be
                    impressed with the quality of CraftNectar: RPG.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Fully Integrated</h3>
                <p class="text-gray-500 dark:text-gray-400">Featuring a beautiful in-game chat channel on the server's
                    <a href="https://discord.gg/GsHEeTgwKG">Discord</a> as well as our website
                    being completely integrated and able to access all server data via server functions and a special
                    placeholder API being ran on the same machine. The server
                    you play on is the same machine running this website!
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">VIP Perks</h3>
                <p class="text-gray-500 dark:text-gray-400">We have special EULA - compliant perks for players who
                    support the server! The server is expensive to maintain, so monetization
                    was a rather large goal for me when creating the server, however I didn't want to make it feel pay
                    to play. All VIP perks are cosmetic, with a couple commands smattered here and there. Check
                    back in soon for a complete list of VIP perks/ranks/prices!!
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">1,000's Of Custom Items</h3>
                <p class="text-gray-500 dark:text-gray-400">Using MMO Items and special configurations, we literally
                    have thousands of unique items on CraftNectar. Mobs will drop unique items that you can use
                    in the spawn shops to concoct rare potions, or smelt amazing ores. Speaking of ores, find custom,
                    rare ores in the overworld to smelt at the blacksmith in order to make
                    powerful weapons with rare effects!
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold dark:text-white">RPG Experience</h3>
                <p class="text-gray-500 dark:text-gray-400">This server is meant to be an RPG experience - and what
                    kinda server would it be without levels? We have a custom leveling system that allows
                    players to level up certian skills by practicing them. Mine ores to level mining, grow crops to
                    level farming, etc and then reap unique benefits for leveling said skill. Complete
                    guild quests to level your Adventure level to earn higher stats such as more health. Once you're
                    strong enough face off in the Dungeon against waves of mobs and try to defeat the Dungeon boss!!!
                </p>
            </div>
        </div>
    </div>
</section>

<div class="bg-title" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C144.19,94.25 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #FB8B24;"></path>
    </svg></div>
<section class="bg-items pt-2 px-4 max-w-full">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-4xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-dark sm:text-lg">
            <h2
                class="mb-4 text-4xl font-outline-2 md:text-5xl lg:text-6xl tracking-tight font-extrabold text-white">
                So...many....items...
            </h2>
            <p class="mb-4">We have thousands of items ready to be generated on CraftNectar. Using MMO items each time
                an item is dropped or crafted/smelted it has a chance
                to recieve some random modifiers that can seriously alter your weapons stats!!
            </p>
            <p>
                Do you dare put in the work to get your hands on some of these legendary weapons?
            </p>
        </div>
        <!-- <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="/assets/items.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/assets/generation.png" alt="office content 2">
        </div> -->
    </div>
    <div class="grid grid-cols-2 place-items-stretch md:grid-cols-3 lg:grid-cols-3 gap-4">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/everburn.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/fearmonder.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/fkesh-flayer.png" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/justice.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/last-breath.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/paladin-hamemr.png" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/rememberence.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/silverlight.png" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="/assets/weapons/wind-blade.png" alt="">
            </div>
        </div>
    </div>
</section>
<div class="bg-fishing" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #FB8B24;"></path></svg></div>

<section class="bg-fishing pt-2 px-4 max-w-full">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2
                class="mb-4 text-6xl tracking-tight font-extrabold bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent">
                Custom RPG Fishing!
            </h2>
            <p class="mb-4 font-bold text-white">We've tons of custom fish to be caught, all in varying lenghts and rarities!
            </p>
            <p class="font-extrabold text-2xl text-white">
                Get to fishing!!!
            </p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/assets/fish/cod.png" alt="cod">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/assets/fish/squid.png" alt="squid">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/assets/fish/puffer.png" alt="pufferfish">
        </div>
    </div>
</section>