<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Navigation</mat-toolbar>
    <mat-nav-list>
      <a class="center-flex"  mat-list-item routerLink="" >
        <div class="d-inline-flex">
            <mat-icon color="accent">home</mat-icon>
            <span class="aligned-with-icon" matLine>Home</span>
        </div>
      </a>
      <a class="center-flex" mat-list-item routerLink="/craftnectar" >
        <div class="d-inline-flex">
            <mat-icon color="accent">dns</mat-icon>
            <span class="aligned-with-icon" matLine>CraftNectar</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="router-window">
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="text-3xl font-bold">Div Nectar</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>