<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Navigation</mat-toolbar>
    <mat-nav-list role="navigation">
      @for (item of navigationItems; track item) {
          <a [href]="item.route" mat-list-item matListItemTitle><mat-icon>{{item.icon}}</mat-icon> {{item.name}}</a>
        @for (sub of item.children; track sub) {
            <a class="ml-4" [href]="sub.route" mat-list-item><mat-icon>{{sub.icon}}</mat-icon> {{sub.name}}</a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="router-window">
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="text-orange-950" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="text-3xl font-bold">Div Nectar</span>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>