@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$deep-orange-palette, 600);
$my-accent: mat.define-palette(mat.$pink-palette, A400, A100, 900);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);


$theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

// Get color param from our theme
$palette-color : map-get($theme, color);
// Get background param from color param
$background: map-get($palette-color, background);
$card: map-get($palette-color, card);
// $background also has background param contains color, set it to red (for example)
$background: map_merge($background, (background: #22092C));
$card: map_merge($background, (card: #22092C));
// Set background param for palette
$palette-color: map_merge($palette-color, (background: $background));
$palette-color: map_merge($palette-color, (card: $card));
// Set palette for theme
$theme: map_merge($theme, (color: $palette-color));


@include mat.all-component-themes($theme);